@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;200;400;600&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

*,*::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
body{
  background-image: url(images/bg-mobile.svg);
  background-color: hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  margin: 2.6rem;
}
.container{
  max-height: 100%;
text-align: center;
color: white;
padding: 20px;
}
.header{
  font-family: 'Poppins', sans-serif;
  width: 40%;
  margin-bottom: 20%;
}
h2{
  margin-top: 30px;
  padding: 10px;
}
.icons{
  display: flex;
  max-width: 20px;
}

@media only screen and (min-width:768px){
  body{
    background-color: chartreuse;
    background-size: 100%;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

